#description {
    font-family: sans-serif;
}

#timer {
    font-weight: bold;
}

#shape {
    width:100px;
    height:100px;
    background-color:green;
    position:relative;
    left: 800px;
    top: 250px;
}